<h1>Show Post</h1>

<ul>

  <li>
    <strong>Text:</strong>
    <%= @post.text %>
  </li>

  <li>
    <strong>Person:</strong>
    <%= @post.person_id %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @post.status %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
